@media screen and (min-width: 500px) {
    .container {
        margin: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 50px;
    }
    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .numbers {
        height: 50px;
        padding: 30px;
        font-size: 30px;
    }

    #counter {
        margin: auto;
        padding: 20px;
        font-size: 30px;
        height: 50px;
    }

    .image, numbers, name {
        margin: auto;
    }
    .name {
        padding: 20%;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .imageBox {
        height: 800px;
    }

}
